* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

/* Button styling for navbar */
.navbar {
    width: clamp(200px, 25vw, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(62, 62, 90);
    padding: 40px;
}

/* Styling "Odin Library" navbar header */
.navbar h1 {
    color: #FFFFFF;
    margin-bottom: 150px;
}

/* Styliing overall container for statistics in navbar */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 150px;
}

/* Styling for each individual row in information tab */
.info > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Styling text for information in navbar */
.info p {
    font-weight: bold;
    color: #FFFFFF;
}

/* Styling for number values in information */
.info-val {
    min-width: 20px;
    text-align: right;
}

/* Styling for button when adding a new book */
.new-book-btn {
    height: 60px;
    width: 60px;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #5995DA;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Button styling when hovering over button */
.new-book-btn:hover {
    background-color: #76AEED;
}

/* Button styling when button is pressed */
.new-book-btn:active {
    background-color: #407FC7;
}

/* Book dialog styling, particularly for positioning and matching form */
.book-dialog {
    margin: auto;
    border: none;
    border-radius: 15px;
    transform: translateX(clamp(0px, 12vw, 150px));
}

/* Styles shaded background with dialog pops up */
.book-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

/* Styling the "form" tab itself */
form {
    background-color: #F6F7F8;
    border: 3px solid rgb(62, 62, 90);
    border-radius: 15px;
    padding: 30px;
    width: clamp(350px, 40vw, 600px);
}

/* Styling for form header and exit button */
.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Styling for form header title */
.form-header h1 {
    margin-top: 2px;
}

/* Styling for form exit button */
.form-exit-btn {
    border: none;
    background-color: #F6F7F8;
}

/* Styling for the "red x" in exit button */
.form-exit-btn svg {
    width: 40px;
    height: 40px;
    fill: #e60000;
    cursor: pointer;
}


.form-exit-btn svg:hover {
    fill: #fe3f3f;
}

.form-exit-btn svg:active {
    fill: #e60000;
}

/* Ultimately puts labels on top of Input Fields */
.form-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px; 
}

/* Styling for text input fields */
.form-group input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-group label {
    margin-bottom: 10px;
}

/* Container for radio buttons, removing default styling border */
.read-group {
    border: none;
    margin-bottom: 40px;
}

/* More styling necessary for aligning labels and radio buttons */
.read-group .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

/* Fixing alignment of radio buttons with their labels */
.read-group input[type="radio"] {
    margin-top: 2px;
}

/* Positioning radio buttons is different, use float */
.read-group .radio-label,
.read-group input[type="radio"] {
    float: left;
}

/* Button styling */
.add-btn-container button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #59da97;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

/* Button styling when hovering over button */
.add-btn-container button:hover {
    background-color: #47fd9f;
}

/* Button styling when button is pressed */
.add-btn-container button:active {
    background-color: #59da97;
}